<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center"
    [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">VERONA</h1>
        <p class="text-color-secondary mb-4">Welcome to the <strong>Verona Community</strong>, where the magic happens,
            sign up to continue.</p>
        <form [formGroup]="userForm">
            <span class="p-input-icon-left mb-4">
                <i class="pi pi-user"></i>
                <input type="text" pInputText placeholder="Nome Completo" class="w-full" formControlName="name">
            </span>

            <span class="p-input-icon-left mb-4">
                <i class="pi pi-user"></i>
                <input type="text" pInputText placeholder="Email" class="w-full" formControlName="email">
            </span>

            <span class="p-input-icon-left mb-4">
                <i class="pi pi-calendar"></i>
                <input type="date" pInputText placeholder="Data de Nascimento" class="w-full" formControlName="date">
            </span>

            <span class="p-input-icon-left mb-4">
                <i class="pi pi-key z-2"></i>
                <p-password id="password" placeholder="Password" styleClass="w-full"
                    [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full" [toggleMask]="true" formControlName="password"></p-password>
            </span>
        </form>
        <button (click)="cadastre()" pButton pRipple label="Cadastre-se " class="mb-4"></button>

        <span (click)="navigateTo('./auth/login')" class="text-color-secondary text-center mb-4">or sign up with below</span>
    </div>
</div>

<app-config [minimal]="true"></app-config>